<div class="DataContainer p-justify-between p-col-12">
    <div class="CardContainer">
        <app-card></app-card>
    </div>
    <div class="Charts p-justify-between">
        <app-circle-progress></app-circle-progress>
        <div class="p-col-12 d-flex Purple px-0 pb-0 Line">
            <div class="p-col-6 pl-Custom pb-0">
                <app-blood-pressure-linechart></app-blood-pressure-linechart>
            </div>
            <div class="p-col-6 pr-Custom pb-0">
                <app-temperature-linechart></app-temperature-linechart>
            </div>
        </div>
        <div class="p-col-12 d-flex Orange px-0 pb-0 Line">
            <div class="p-col-6 pl-Custom pb-0">
                <app-pulse-heart-rate-linechart></app-pulse-heart-rate-linechart>
            </div>
            <div class="p-col-6 pr-Custom pb-0">
                <app-body-mass-linechart></app-body-mass-linechart>
            </div>
        </div>
        <div class="p-col-12 d-flex White px-0 pb-0 Bar">
            <div class="p-col-6 pl-Custom pb-0">                
                <app-barchart></app-barchart>
            </div>
            <div class="p-col-6 pr-Custom pb-0">
                <app-height-barchart></app-height-barchart>
            </div>
        </div>
    </div>
</div>