<p-card  styleClass="p-card-shadow">
    <p-header>
        <img alt="Card" src="assets/images/usercard.png">
        <h2>belal gaber</h2>
    </p-header>
    <div class="p-grid Info">
        <span>
            <label>Gender</label>
            <label>Male</label>
        </span>
        <span>
            <label>Age</label>
            <label>37</label>
        </span>

        <span>
            <label>WEIGHT</label>
            <label>85 kg</label>
            <label>187 lbs</label>
        </span>
        <span>
            <label>Height</label>
            <label>170 cm</label>
            <label>66.9 inch</label>
        </span>

        <span>
            <label>Blood type</label>
            <label>B</label>
        </span>
        <span>
            <label>Smoking</label>
            <label>No</label>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <p>robertferrara1950@outlook.com</p>
        <p>01000 20 0006</p>
    </ng-template>
</p-card>