<div class="MedsContainer">
    <div id="myLabel" class="RightMenu">
        <div class="TitleCustSontainer">
            <h2 class="Title">Allergies</h2>
        </div>
        <p-card>
            <p-header>
                Amoxicillin 250 mg
            </p-header>
            <p>Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make breathing difficult and trigger coughing, wheezing and shortness of breath. For some people, asthma is a minor nuisance.</p>
        </p-card>
        <p-card>
            <p-header>
                Amoxicillin 250 mg
            </p-header>
            <p>Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make breathing difficult and trigger coughing, wheezing and shortness of breath. For some people, asthma is a minor nuisance.</p>
        </p-card>
        <p-card>
            <p-header>
                Amoxicillin 250 mg
            </p-header>
            <p>Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make breathing difficult and trigger coughing, wheezing and shortness of breath. For some people, asthma is a minor nuisance.</p>
        </p-card>
        <p-card>
            <p-header>
                Amoxicillin 250 mg
            </p-header>
            <p>Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make breathing difficult and trigger coughing, wheezing and shortness of breath. For some people, asthma is a minor nuisance.</p>
        </p-card>
        <p-card>
            <p-header>
                Amoxicillin 250 mg
            </p-header>
            <p>Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make breathing difficult and trigger coughing, wheezing and shortness of breath. For some people, asthma is a minor nuisance.</p>
        </p-card>
        <p-card>
            <p-header>
                Amoxicillin 250 mg
            </p-header>
            <p>Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make breathing difficult and trigger coughing, wheezing and shortness of breath. For some people, asthma is a minor nuisance.</p>
        </p-card>
    </div>
    <div class="PageHeader">
    <span class="Title">Meds</span>
    <div class="ui-inputgroup">
        <span class="ui-button-icon-left ui-icon ui-c pi pi-search"></span>
        <input placeholder="Search By Meds Name">
    </div>
    </div>
    <div class="TableContainer">
        <app-meds-table></app-meds-table>
    </div>    
</div>