<div class="reports-card">
    <div class="row">
        <div class="col-12 roboto-medium heading-20">
            Orders
        </div>
    </div>
    <div class="height-350">
        <div class="row mt-4 border-bottom-1 pb-3">
            <div class="col-12 heading-14 color-orange roboto-medium">
                Procedure note
            </div>
            <div class="col-12 heading-12 color-dark-blue roboto-regular mt-2">
                Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make
                breathing Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can
                make breathing ...
            </div>
            <div class="col-12 heading-14 color-dark-blue mt-2 cursor-pointer">
                <i class="pi pi-cloud-download mr-2"></i> Procedure note.pdf
            </div>
        </div>
        <div class="row mt-4 border-bottom-1 pb-3">
            <div class="col-12 heading-14 color-orange roboto-medium">
                Procedure note
            </div>
            <div class="col-12 heading-12 color-dark-blue roboto-regular mt-2">
                Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make
                breathing Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can
                make breathing ...
            </div>
            <div class="col-12 heading-14 color-dark-blue mt-2 cursor-pointer">
                <i class="pi pi-cloud-download mr-2"></i> Procedure note.pdf
            </div>
        </div>
        <div class="row mt-4 border-bottom-1 pb-3">
            <div class="col-12 heading-14 color-orange roboto-medium">
                Procedure note
            </div>
            <div class="col-12 heading-12 color-dark-blue roboto-regular mt-2">
                Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make
                breathing Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can
                make breathing ...
            </div>
            <div class="col-12 heading-14 color-dark-blue mt-2 cursor-pointer">
                <i class="pi pi-cloud-download mr-2"></i> Procedure note.pdf
            </div>
        </div>
        <div class="row mt-4 border-bottom-1 pb-3">
            <div class="col-12 heading-14 color-orange roboto-medium">
                Procedure note
            </div>
            <div class="col-12 heading-12 color-dark-blue roboto-regular mt-2">
                Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make
                breathing Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can
                make breathing ...
            </div>
            <div class="col-12 heading-14 color-dark-blue mt-2 cursor-pointer">
                <i class="pi pi-cloud-download mr-2"></i> Procedure note.pdf
            </div>
        </div>
        <div class="row mt-4 border-bottom-1 pb-3">
            <div class="col-12 heading-14 color-orange roboto-medium">
                Procedure note
            </div>
            <div class="col-12 heading-12 color-dark-blue roboto-regular mt-2">
                Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can make
                breathing Asthma is a condition in which your airways narrow and swell and produce extra mucus. This can
                make breathing ...
            </div>
            <div class="col-12 heading-14 color-dark-blue mt-2 cursor-pointer">
                <i class="pi pi-cloud-download mr-2"></i> Procedure note.pdf
            </div>
        </div>
    </div>

</div>