<div class="login-container">
    <img src="../../../../assets/images/logo.svg" alt="" class="logo">
    <div class="login-form roboto-medium color-white">
        <div class="heading-28  ">
            Admin Log in
        </div>
        <div class="heading-14 mt-4">
            Username
            <input type="text" class="form-control mt-2" placeholder="User Name">
        </div>
        <div class="heading-14 mt-4">
            Password
            <input type="password" class="form-control mt-2" placeholder="Password">
        </div>
        <div class="mt-4 heading-14">
            <p-inputSwitch [(ngModel)]="checked1"></p-inputSwitch> Remember me
        </div>
        <div class="mt-5">
            <button class="btn login-btn">
                Log in
            </button>
        </div>
    </div>
</div>