.login-container {
    height: 100vh;
    max-height: 100vh;
    background-image: url(../../../../assets/images/Admin-BG.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

.login-form {
    position: absolute;
    width: 489px;
    height: 474px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 40px;
    background: #FFFFFF0F 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF33;
    border-radius: 17px;
    opacity: 1;
}
.login-form input {
    background: transparent;
    border: 2px solid #FFFFFF2E;
    border-radius: 30px;
    color: white;
}
.login-form input:focus {
box-shadow: none;
}
.login-btn {
    background-color: #FF4A31;
    color: white;
    width: 100%;
    border-radius: 30px;
    transition: .4s;
}
.login-btn:hover {
    background-color: #1EB5FC;
}
.logo {
    position: relative;
    top: 10%;
    left: 10%;
}

@media only screen and (max-width: 600px) {

    .login-form {
        width: 100%;
        padding: 10px;
    }
    .logo {
        top: 2%;
        left: 30%;
    }
  }