<div class="AllergiesContainer">
    <div id="myLabel" class="RightMenu">
            <app-card></app-card>
            <app-circle-progress></app-circle-progress>
            <app-blood-pressure-linechart></app-blood-pressure-linechart>
            <app-temperature-linechart></app-temperature-linechart>
            <app-pulse-heart-rate-linechart></app-pulse-heart-rate-linechart>
            <app-body-mass-linechart></app-body-mass-linechart>
            <app-barchart></app-barchart>
            <app-height-barchart></app-height-barchart>
    </div>
    <div class="PageHeader">
    <span class="Title">Allergies</span>
    <div class="ui-inputgroup">
        <span class="ui-button-icon-left ui-icon ui-c pi pi-search"></span>
        <input placeholder="Search By Allergies Name">
    </div>
    </div>
    <div class="TableContainer">
        <app-notes-table></app-notes-table>
    </div>    
</div>