<div class="HomeContainer">
    <div class="LinkContainer">
        <p>Health-Care Providers</p>
        <span>
            <a>
                <p>15</p>
                <p>Hospital</p>
                <p>latest updates 3 days ago</p>
            </a>
            <a>
                <p>08</p>
                <p>Clinic</p>
                <p>latest updates 7 days ago</p>
            </a>
            <a>

            </a>
        </span>
    </div>
    <div class="LinkContainer">
        <p>Reports</p>
        <span>
            <a>
                <p>15</p>
                <p>Hospital</p>
                <p>latest updates 3 days ago</p>
            </a>
        </span>
    </div>
</div>