<div class="ViewProvider"><p-steps></p-steps></div>
<p-table #dt [value]="customers" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers"
        [filterDelay]="0" [scrollable]="true" scrollHeight="45vh" [globalFilterFields]="['name.name', 'creation_date', 'status', 'name.discription']">
        <ng-template pTemplate="caption">
            <div class="PageHeader">
                <div class="p-grid p-field FiltersComponent BackEnd">
                    <h2 class="Title-1">Filter by :</h2>
                    <tr>
                        <th>
                            <p-dropdown [options]="types" (onChange)="dt.filter($event.value, 'name.discription', 'equals')" styleClass="p-column-filter" placeholder="Provider Type" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge name.discription-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                            
                            <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'contract_date', 'equals')" [showButtonBar]="true" styleClass="p-column-filter" placeholder="Contract Start Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>

                            <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')" styleClass="p-column-filter" placeholder="Integration type" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </th>
                    </tr>
                </div>
                <div class="ui-inputgroup">
                    <span class="ui-button-icon-left ui-icon ui-c pi pi-search"></span>
                    <input pInputText (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search By Provider">
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:20%">
                <col style="width:auto">
                <col style="width:auto">
                <col style="width:auto">
                <col style="width:auto">
                <col style="width:auto">
                <col style="width:10%">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Health-Care Providers Name</th>
                <th>Creation Date</th>
                <th>Contract Start Date</th>
                <th>Description</th>
                <th>Integration type</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    <img [alt]="customer.name.image" src="../../../../assets/images/avatar/{{customer.name.image}}" width="32" style="vertical-align: middle" />
                    <span>
                        <span>{{customer.name.name}}</span>
                        <span class="image-text">{{customer.name.discription}}</span>
                    </span>
                </td>
                <td>
                    {{customer.creation_date}}
                </td>
                <td>
                    {{customer.contract_date}}
                </td>
                <td>
                    <span>{{customer.discription}}</span>
                </td>
                <td>
                    <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
                </td>
                <td>
                    {{customer.Created_By}}
                </td>
                <td>

                    <div class="Hovermenu">
                        <ul class="tableOPT">
                            <li><a>Open</a></li>
                            <li><a  [routerLink]="['../steps']">Edit</a></li>
                            <li><a>Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>