.p-menuitem.active {
    border-left: 2px solid #FF4A31 !important;
    transition: 1s !important;
    animation-direction: normal !important;
    border-left-style: groove !important;
}
.p-menuitem.active .p-menuitem-link .p-menuitem-text, .p-menuitem.active .p-menuitem-link .p-menuitem-icon {
    color: #FF4A31 !important;
    opacity: 1;
}