<p-tabView>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>General Information</span>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-6">
                    <label for="age">Registration Type</label>
                    <label for="age">System App</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">Provider Type</label>
                    <label for="age">Clinic</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">Creation Date</label>
                    <label for="age">Monday, April 1, 2020 10:39 AM</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">Contract Start Date</label>
                    <label for="age">Monday, April 1, 2020 10:39 AM</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">Created By</label>
                    <label for="age">Belal Gaber Ahmed</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">Last updated by</label>
                    <label for="age">Belal Gaber Ahmed</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">Last update date</label>
                    <label for="age">Monday, April 1, 2020 10:39 AM</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">Description</label>
                    <label for="age">Baptist Health Lexington is an award-winning hospital specializing in a wide range of patient services, and is designated for its nursing excellence.</label>
                </div>

            </div>
        </ng-template>
        </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Integration Data</span>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-6">
                    <label for="age">Integration type</label>
                    <label for="age">1Up Health</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">1Up ID</label>
                    <label for="age">66.249.65.147</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">Url</label>
                    <label for="age">https://api.1up.health/user-management/v1</label>
                </div>
                <div class="p-field p-col-6">
                    <label ></label>
                    <label ></label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">App_name</label>
                    <label for="age">1UpApp</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">App_password</label>
                    <label for="age">55287W658</label>
                </div>
                <div class="p-field p-col-12 m-0 p-0">
                    <span class="InnerTitle">Other Integration Data</span>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">accessToken</label>
                    <label for="age">eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9</label>
                </div>
                <div class="p-field p-col-6">
                    <label for="age">refreshToken</label>
                    <label for="age">eyJ1c2VyX2lkIjo1OSwiaWF0IjoxNTk5NDg3MDQwfQ</label>
                </div>

            </div>
        </ng-template>
    </p-tabPanel>
</p-tabView>